body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: stretch; */
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.warning {
    color: crimson;
    border: 1.5px solid crimson;
    border-left: 5px solid crimson;
    display: flex;
    padding: .5rem 1rem;
    margin: 1.7rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    word-wrap: break-word;
}

.container h1 {
    text-align: center;
    font-size: 2.5rem;
}

input {
    margin: 1rem .5rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
    font-size: 1.3rem;
}

label {
    margin: .3rem .5rem;
    font-size: 1.5rem;
}

button {
    margin: 1rem .5rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
}

#result {
    margin-top: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result p {
    font-size: 1.7rem;
    font-weight: 600;
}

footer {
    margin-top: 3rem;
    text-align: center;
    justify-self: baseline;
    font-size: 1.15rem;
}

footer .social-handle {
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}